* {
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #fff;
}

.wrapper {
  width: 100wv;
  margin: 0 auto;
  text-align: center;
}
.logo{
  width:20rem;
  margin: 2rem;
}
.heading{
  font-size: 3.5rem;
}